flows (4).json
[{"id":"7566172d.bc3f38","type":"tab","label":"Assgn 8","disabled":true,"info":""},{"id":"6a2d710c.fdab9","type":"cloudant out","z":"7566172d.bc3f38","name":"","cloudant":"","database":"assgn7","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","payonly":true,"operation":"insert","x":480,"y":300,"wires":[]},{"id":"12a3b8d0.6388d7","type":"debug","z":"7566172d.bc3f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":340,"wires":[]},{"id":"544fb639.d516c8","type":"ui_form","z":"7566172d.bc3f38","name":"","label":"","group":"f86acaf.d48a138","order":0,"width":0,"height":0,"options":[{"label":"Date(YYYY-MM-DD)","value":"date","type":"text","required":true,"rows":null},{"label":"Time(HH:MM)","value":"time","type":"text","required":true,"rows":null},{"label":"Pupm Command(On or Off)","value":"pump","type":"text","required":true,"rows":null}],"formValue":{"date":"","time":"","pump":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":80,"y":320,"wires":[["6500f1ba.9e7be"]]},{"id":"6500f1ba.9e7be","type":"function","z":"7566172d.bc3f38","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload={\n    \"_id\":d+\" \"+t,\n    \"pump\":msg.payload.pump\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":320,"wires":[["6a2d710c.fdab9","12a3b8d0.6388d7"]]},{"id":"149bb0e0.2fd39f","type":"cloudant in","z":"7566172d.bc3f38","name":"","cloudant":"","database":"assgn7","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","search":"_id_","design":"","index":"","x":460,"y":500,"wires":[["b9fcfa9c.c36b68"]]},{"id":"db380e87.223f3","type":"function","z":"7566172d.bc3f38","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload = date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":500,"wires":[["149bb0e0.2fd39f"]]},{"id":"b9fcfa9c.c36b68","type":"switch","z":"7566172d.bc3f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[[],["d60189f7.226ba8"]]},{"id":"81d75289.e3ab9","type":"inject","z":"7566172d.bc3f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["db380e87.223f3"]]},{"id":"d60189f7.226ba8","type":"function","z":"7566172d.bc3f38","name":"","func":"msg.payload=msg.payload.pump\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":560,"wires":[["2cd126ff.cf0a7a","377a5175.e8cf8e"]]},{"id":"2cd126ff.cf0a7a","type":"debug","z":"7566172d.bc3f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":620,"wires":[]},{"id":"377a5175.e8cf8e","type":"ibmiot out","z":"7566172d.bc3f38","authentication":"apiKey","apiKey":"817a57ff.ab9378","outputType":"cmd","deviceId":"12345","deviceType":"Esp32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":500,"wires":[]},{"id":"f86acaf.d48a138","type":"ui_group","name":"Group 1","tab":"d4380467.8f4b28","order":1,"disp":true,"width":6},{"id":"817a57ff.ab9378","type":"ibmiot","name":"Smart","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d4380467.8f4b28","type":"ui_tab","name":"assgn8","icon":"dashboard","order":6,"disabled":false,"hidden":false}]